<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments/head :: head"></head>
<body>
<button onclick="topFunction()" id="btn-to-top" title="Go to top"><i class="fa-solid fa-chevron-up"></i></button>

<!-- header -->
<div th:replace="fragments/header :: header"></div>

<!-- content -->
<div class="content" id="content">
    <div class="container content-container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="">
                        <img class="d-block w-100" th:src="@{/images/4.jpg}"  alt="First slide" />
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="">
                        <img class="d-block w-100" th:src="@{/images/5.jpg}" alt="Second slide" />
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="">
                        <img class="d-block w-100" th:src="@{/images/6.jpg}" alt="Third slide" />
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="">
                        <img class="d-block w-100" th:src="@{/images/7.jpg}" alt="After Third slide" />
                    </a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="BST-choose">
            <a href="">BỘ SƯU TẬP</a>
        </div>
        <div class="BST-section">
            <div id="BST-row" class="owl-carousel owl-theme BST-Ad">
                <div class="item">
                    <a href="">
                        <img th:src="@{/images/8.jpg}" alt="" />
                    </a>

                </div>
                <div class="item">
                    <a href="">
                        <img th:src="@{/images/9.jpg}"
                        alt="" />

                    </a>

                </div>
                <div class=" item">
                    <a href="">
                        <img th:src="@{/images/10.jpg}"
                        alt="" />
                    </a>
                </div>

            </div>
        </div>

        <div class=" Choose">
            <div class="type-choose">
                <div class="row type-row flex-nowrap d-flex">
                    <div class="col-4">
                        <div id="nam-choose" class="object-choose">Nam</div>
                    </div>
                    <div class="col-4">
                        <div id="nu-choose" class="object-choose">Nữ</div>
                    </div>
                    <div class="col-4">
                        <div id="tre-choose" class="object-choose">Trẻ Em</div>
                    </div>
                </div>

                <div class="row nam-row">

                    <div class="col-2">
                        <a href="">
                            <img th:src="@{/images/ao-polo-nam.jpg}" alt="" />
                            <div>Áo Polo</div>
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="">
                            <img th:src="@{/images/ao-khoac-nam.jpg}" alt="" />
                            <div>Áo Khoác</div>
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="">
                            <img th:src="@{/images/ao-so-mi-nam.jpg}" alt="" />
                            <div>Áo Sơ Mi</div>
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="">
                            <img th:src="@{/images/quan-au-nam.jpg}" alt="" />
                            <div>Quần Âu</div>
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="">
                            <img th:src="@{/images/quan-bo-nam.jpg}" alt="" />
                            <div>Quần Bò</div>
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="">
                            <img th:src="@{/images/quan-dui-nam.jpg}" alt="" />
                            <div>Quần Đùi</div>
                        </a>
                    </div>
                </div>

                <div class="row nu-row">

                    <div class="col-2">
                        <a href="">
                            <img th:src="@{/images/ao-polo-nu.jpg}" alt="" />
                            <div>Áo Polo</div>
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="">
                            <img th:src="@{/images/ao-thun-nu.jpg}" alt="" />
                            <div>Áo Thun</div>
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="">
                            <img th:src="@{/images/ao-khoac-nu.jpg}" />
                            <div>Áo Khoác</div>
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="">
                            <img th:src="@{/images/quan-au-nu.jpg}" />
                            <div>Quần Âu</div>
                        </a>
                    </div>

                    <div class="col-2">
                        <a href="">
                            <img th:src="@{/images/chan-vay-nu.jpg}" alt="" />
                            <div>Chân Váy</div>
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="">
                            <img th:src="@{/images/quan-dui-nu.jpg}" alt="" />
                            <div>Quần Đùi</div>
                        </a>
                    </div>
                </div>

                <div class="row tre-row">
                    <div class="col-2">
                        <a href="">
                            <img th:src="@{/images/ao-polo-tre.jpg}" alt="" />
                            <div>Áo Polo</div>
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="">
                            <img th:src="@{/images/ao-thun-tre.jpg}" alt="" />
                            <div>Áo Thun</div>
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="">
                            <img th:src="@{/images/ao-khoac-tre.jpg}" alt="" />
                            <div>Áo Khoác</div>
                        </a>
                    </div>

                    <div class="col-2">
                        <a href="">
                            <img th:src="@{/images/quan-dai-tre.jpg}" alt="" />
                            <div>Quần Dài</div>
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="">
                            <img th:src="@{/images/quan-dui-tre.jpg}" alt="" />
                            <div>Quần Đùi</div>
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="">
                            <img th:src="@{/images/bo-do-tre.jpg}" alt="" />
                            <div>Bộ Đồ</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="moi-ve-section muc-section">
            <div class="moi-ve-header muc-header">
                <div class="moi-ve-cho-ban muc-click">
                    <a href="">Hàng Mới Về</a>
                </div>
                <div class="moi-ve-xem-them xem-them">
                    <a href="">Xem Thêm ></a>
                </div>
            </div>
            <div class="moi-ve-san-pham luoi-san-pham">
                <div class="anh-moi-ve anh-muc">
                    <a href="">
                        <img
                                src="https://bizweb.dktcdn.net/100/438/408/themes/919724/assets/home_preivew_sanpham_2_image_desktop.jpg?1697788553057"
                                alt="" />
                    </a>
                </div>
                <div class="anh-moi-ve anh-muc-moblie">
                    <a href="">
                        <img
                                src="https://bizweb.dktcdn.net/100/438/408/themes/919724/assets/home_preivew_sanpham_2_image_mobile.jpg?1697880684129&fbclid=IwAR29EwFxLI4LMyoBc23l9TuW3HZEuH_-qa5uMN06oYbOep6lOgMsoAjSBGc"
                                alt="" />
                    </a>
                </div>
                <div id="moi-ve-row" class="owl-carousel owl-theme san-pham-row">
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/ao-thu-dong-nu-dai-tay-yody-atn6034-ddo-1-of-8.jpg?v=1697525999830"
                                    alt="" />
                            Áo Giữ Nhiệt Nữ Cổ 3cm
                        </a>
                        <div class="price">499.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/cvn6120-xdi-01.jpg?v=1696818589170"
                                    alt="" />
                            Chân Váy Nữ Dáng A Xẻ Đùi
                        </a>
                        <div class="price">599.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/bdk6020-den-8.jpg?v=1696647674963"
                                    alt="" />
                            Đồ Bộ Trẻ EM Nỉ Da Cá Cơ Bản
                        </a>
                        <div class="price">399.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/qam6065-ghi-4.jpg?v=1696313997927"
                                    alt="" />
                            Quần Âu Nam Nano Melange Thêu
                        </a>
                        <div class="price">299.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/swn6004-hog-aln6030-tay-cvn6224-xgi-03.jpg?v=1697526789173"
                                    alt="" />
                            Áo Khoác Nỉ Thể Thao Nữ Double Face Smart
                        </a>
                        <div class="price">499.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/swn6024-bee-cvn6224-nau-14.jpg?v=1696818117303"
                                    alt="" />
                            Áo Khoác Nỉ Thể Thao Nữ
                        </a>
                        <div class="price">299.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/atn6070-bee-qjn6034-xdm-3-of-11.jpg?v=1696324820907"
                                    alt="" />
                            Áo Thu Đông Nữ Dáng Rộng
                        </a>
                        <div class="price">599.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/ao-thun-dai-tay-tre-em-yody-atk6022-nau-5.jpg?v=1697253682167"
                                    alt="" />
                            Áo Thun Kid Lớn Cổ 3cm Túi Trước Ngực
                        </a>
                        <div class="price">399.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/ao-vest-nu-ven6006-nau-1.jpg?v=1697511160793"
                                    alt="" />
                            Vest Nữ Dáng Croptop
                        </a>
                        <div class="price">349.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/ao-so-mi-nam-smm6087-xgi-6.jpg?v=1696645891003"
                                    alt="" />
                            Sơ Mi Dài Tay Nam Cafe Túi Ốp Ngực
                        </a>
                        <div class="price">499.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/akm5037-cam-2.jpg?v=1690163735137"
                                    alt="" />
                            Áo Khoác Gió Nam 3C Plus Năng Động
                        </a>
                        <div class="price">499.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/ao-polo-tre-em-yody-apk6144-hog-3-of-11.jpg?v=1697535026723"
                                    alt="" />
                            Polo Kid Cafe Dệt Tổ Ong Mickey In Ngực
                        </a>
                        <div class="price">599.000đ</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="goi-y-section muc-section">
            <div class="goi-y-header muc-header">
                <div class="goi-y-cho-ban muc-click">
                    <a href="">Yody Gợi Ý Cho Bạn</a>
                </div>
                <div class="goi-y-xem-them xem-them">
                    <a href="">Xem Thêm ></a>
                </div>
            </div>
            <div class="goi-y-san-pham luoi-san-pham">
                <div class="anh-goi-y anh-muc">
                    <a href="">
                        <img
                                src="https://bizweb.dktcdn.net/100/438/408/themes/919724/assets/home_preivew_sanpham_3_image_desktop.jpg?1697788553057"
                                alt="" />
                    </a>
                </div>
                <div class="anh-moi-ve anh-muc-moblie">
                    <a href="">
                        <img
                                src="https://bizweb.dktcdn.net/100/438/408/themes/919724/assets/home_preivew_sanpham_3_image_mobile.jpg?1697882115189&fbclid=IwAR1ibWYzZYzpAFKP91cvBGhdb63bpEkbB4PeK9PLC5ufONf1pFD2tBtuJaM"
                                alt="" />
                    </a>
                </div>
                <div id="goi-y-row" class="owl-carousel owl-theme san-pham-row">
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/akn6012-xth-5.jpg?v=1697426534613"
                                    alt="" />
                            Áo Khoác Gió Nữ 3C Pro
                        </a>
                        <div class="price">499.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/ao-khoac-nu-phn6014-dod-2.jpg?v=1696556320667"
                                    alt="" />
                            Áo Phao Nữ 3S Siêu Nhẹ Tay Raglan
                        </a>
                        <div class="price">599.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/ao-khoac-nu-akn6040-hog-7.jpg?v=1695183271947"
                                    alt="" />
                            Áo Khoác Nữ Nỉ Cào Lông
                        </a>
                        <div class="price">399.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/spm5005-den-ao-so-mi-nam-yody-1.jpg?v=1688723412400"
                                    alt="" />
                            Áo Sơ Mi Nam Tay Dài Thoáng Khí Siêu Mát
                        </a>
                        <div class="price">299.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/qan5128-bee4.jpg?v=1696904199877"
                                    alt="" />
                            Quần Âu Baggy Nữ Lưng Cao Vạt Chéo
                        </a>
                        <div class="price">499.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/apm6325-tra-21.jpg?v=1688954164900"
                                    alt="" />
                            Áo Polo Nam Cafe Tổ Ong Basic
                        </a>
                        <div class="price">299.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/phn5000-hod-3.jpg?v=1673079457990"
                                    alt="" />
                            Áo Khoác Phao Nữ Siêu Nhẹ Siêu Ấm
                        </a>
                        <div class="price">599.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/quan-kaki-nu-lung-cao-ong-om-co-gian-nhe-qjn3072-bsa-yodyvn-6.jpg?v=1690163851410"
                                    alt="" />
                            Quần Kaki Nữ Lưng Cao Ống Ôm Co Giãn Nhẹ
                        </a>
                        <div class="price">399.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/apm5431-vag1.jpg?v=1690163619950"
                                    alt="" />
                            Áo Polo Nam Mắt Chim Gia Đình
                        </a>
                        <div class="price">349.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/akn5040-cam-4-1c797839-d544-45ec-9c47-d5bcfd0bfa70.jpg?v=1681354792093"
                                    alt="" />
                            Áo Khoác Gió Nữ 3C Plus Năng Động
                        </a>
                        <div class="price">499.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/akm5037-cam-2.jpg?v=1690163735137"
                                    alt="" />
                            Áo Khoác Gió Nam 3C Plus Năng Động
                        </a>
                        <div class="price">499.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/phm5001-den-4.jpg?v=1677119319310"
                                    alt="" />
                            Áo Phao Nam Có Mũ Siêu Nhẹ Siêu Ấm
                        </a>
                        <div class="price">599.000đ</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="yody-sport-section muc-section">
            <div class="yody-sport-header muc-header">
                <div class="yody-sport-cho-ban muc-click">
                    <a href="">Yody Sport</a>
                </div>
                <div class="yody-sport-xem-them xem-them">
                    <a href="">Xem Thêm ></a>
                </div>
            </div>
            <div class="yody-sport-san-pham luoi-san-pham">
                <div class="anh-yody-sport anh-muc">
                    <a href="">
                        <img
                                src="https://bizweb.dktcdn.net/100/438/408/themes/919724/assets/home_preivew_sanpham_6_image_desktop.jpg?1697795909892"
                                alt="" />
                    </a>
                </div>
                <div class="anh-moi-ve anh-muc-moblie">
                    <a href="">
                        <img
                                src="https://bizweb.dktcdn.net/100/438/408/themes/919724/assets/home_preivew_sanpham_6_image_mobile.jpg?1697882115189&fbclid=IwAR1KIns1V0NOqn7AwDEmcgvdbVyXx48l_7RXvOgW0gGole0gdSVUZlGnRKs"
                                alt="" />
                    </a>
                </div>
                <div id="yody-sport-row" class="owl-carousel owl-theme san-pham-row">
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/ao-khoac-nu-the-thao-tui-hop-yody-skn6016-den-bln6036-cam-ssn6022-xng-5-of-7-1.jpg?v=1696324308313"
                                    alt="" />
                            Áo Khoác Thể Thao Nữ Túi Hộp
                        </a>
                        <div class="price">499.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/sgm6007-den-2.jpg?v=1696055813323"
                                    alt="" />
                            Quần Gió Thể Thao Nam Never Too Late
                        </a>
                        <div class="price">599.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/quan-gio-nam-yody-sgm6021-nav-stm6061-xlo-6-1.jpg?v=1693216231670"
                                    alt="" />
                            Quần Gió Thể Thao Nam 4 Mùa
                        </a>
                        <div class="price">399.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/sqm5021-den-3.jpg?v=1690163777447"
                                    alt="" />
                            Quần Short Nam Thể Thao Quốc Dân
                        </a>
                        <div class="price">299.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/ao-polo-the-thao-nu-san6054-nav-4.jpg?v=1690163504060"
                                    alt="" />
                            Áo Polo Thể Thao Nữ Airycool In Ngực Phối Màu
                        </a>
                        <div class="price">499.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/ao-thun-the-thao-nam-stm6057-cam-1-4.jpg?v=1686885366203"
                                    alt="" />
                            T-Shirt Thể Thao Nam In Vạch Phản Quang Ngực
                        </a>
                        <div class="price">299.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/sam6107-nav-4.jpg?v=1690163535197"
                                    alt="" />
                            Áo Polo Thể Thao Nam In Vai Phản Quang
                        </a>
                        <div class="price">599.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/san6078-xmn-sjn4022-nsu-12.jpg?v=1690163534867"
                                    alt="" />
                            Áo Polo Thể Thao Nữ In Vai Phản Quang
                        </a>
                        <div class="price">399.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/sam6045-tra-sqm5015-den-6.jpg?v=1695951972493"
                                    alt="" />
                            Áo Polo Thể Thao Nam Airycool Nẹp Lệch In Chữ
                        </a>
                        <div class="price">349.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/ao-polo-nam-sam6049-den-7.jpg?v=1690163435273"
                                    alt="" />
                            Áo Polo Thể Thao Nam Airycool In Họa Tiết Thân Trước
                        </a>
                        <div class="price">499.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/quan-short-nam-sqm6025-ghi-8.jpg?v=1690163434893"
                                    alt="" />
                            Quần Short Thể Thao Nam In Sau
                        </a>
                        <div class="price">499.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/stm6081-tra-17.jpg?v=1695613770323"
                                    alt="" />
                            Áo Thun Thể Thao Nam In Ngực
                        </a>
                        <div class="price">599.000đ</div>
                    </div>

                </div>
            </div>
        </div>

        <div class="cong-so-section muc-section">
            <div class="cong-so-header muc-header">
                <div class="cong-so-cho-ban muc-click">
                    <a href="">Công Sở</a>
                </div>
                <div class="cong-so-xem-them xem-them">
                    <a href="">Xem Thêm ></a>
                </div>
            </div>
            <div class="cong-so-san-pham luoi-san-pham">
                <div class="anh-cong-so anh-muc">
                    <a href="">
                        <img
                                src="https://bizweb.dktcdn.net/100/438/408/themes/919724/assets/home_preivew_sanpham_4_image_desktop.jpg?1697795909892"
                                alt="" />
                    </a>
                </div>
                <div class="anh-moi-ve anh-muc-moblie">
                    <a href="">
                        <img
                                src="https://bizweb.dktcdn.net/100/438/408/themes/919724/assets/home_preivew_sanpham_4_image_mobile.jpg?1697882115189&fbclid=IwAR0qacrwhbV5uKSfdlGdvS_0EnzMEGCu_UMmC3W71D0rsjScMO2zd5KVqHg"
                                alt="" />
                    </a>
                </div>
                <div id="cong-so-row" class="owl-carousel owl-theme san-pham-row">
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/quan-au-nu-qan6046-xlo-4-yodyvn-e4886976-c1e7-49f2-99d8-d7d672f426a4.jpg?v=1681106614117"
                                    alt="" />
                            Quần Tây Nữ Ống Đứng Chun Cạp Sau
                        </a>
                        <div class="price">499.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/qan5110-ndt-6.jpg?v=1690163756203"
                                    alt="" />
                            Quần Âu Nữ Lưng Cao Ống Đứng Thêu Cạp
                        </a>
                        <div class="price">599.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/qan5178-den-5.jpg?v=1690163743557"
                                    alt="" />
                            Quần Âu Nữ Lưng Cao Relax Pants Co Giãn Tốt
                        </a>
                        <div class="price">399.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/scn3000-xnh-4.jpg?v=1690163849413"
                                    alt="" />
                            Áo Sơ Mi Nữ Tay Ngắn Nano Giữ Form Ít Nhăn
                        </a>
                        <div class="price">299.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/smn3007-xah-ao-so-mi-nu-yody-2-7307e529-0b4c-4b3b-a8f9-d1306b835d2a.jpg?v=1692606393540"
                                    alt="" />
                            Áo Sơ Mi Nữ Cổ Đức Nano Kháng Khuẩn Khử Mùi
                        </a>
                        <div class="price">499.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/chan-vay-nu-cvn3192-den-1-yodyvn.jpg?v=1690163856493"
                                    alt="" />
                            Chân Váy Ôm Công Sở Dáng Dài Mềm Mại Co Giãn
                        </a>
                        <div class="price">299.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/cvn6162-nau-smn6078-tra-8.jpg?v=1695365792003"
                                    alt="" />
                            Chân Váy Nữ Bổ Mảnh
                        </a>
                        <div class="price">599.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/snm5005-den-1.jpg?v=1690163742067"
                                    alt="" />
                            Áo Sơ Mi Nam Tay Ngắn MÁT - MỀM - MỊN
                        </a>
                        <div class="price">399.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/quan-au-nam-classic-theu-yody-qam6023-ghi-4.jpg?v=1690163514597"
                                    alt="" />
                            Quần Âu Nam Classic Thêu Yody
                        </a>
                        <div class="price">349.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/quan-au-nam-cao-cap-giu-phom-co-gian-thoai-mai-qam3127-den-yodyvn-8.jpg?v=1690163845577"
                                    alt="" />
                            Quần Âu Nam Cao Cấp Giữ Phom, Co Giãn Thoải Mái
                        </a>
                        <div class="price">499.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/quan-au-nu-qan6014-ghd-3.jpg?v=1690163506093"
                                    alt="" />
                            Quần Tây Nữ Ống Loe Thời Thượng
                        </a>
                        <div class="price">499.000đ</div>
                    </div>
                    <div class="item">
                        <a href="">
                            <img
                                    src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/cvn6120-xdi-01.jpg?v=1696818589170"
                                    alt="" />
                            Chân Váy Nữ Dáng A Xẻ Đùi
                        </a>
                        <div class="price">599.000đ</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<div th:replace="fragments/footer :: footer"></div>

<script th:src="@{/js/main.js}"></script>
</body>
</html>