<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head"></head>
<body>
<div id="main" class="main">
    <!-- đăng ký -->
    <form action="" method="POST" class="form form-register" id="form-1">
        <p class="desc">Chào mừng bạn đến với yody!</p>
        <h3 class="heading">Đăng ký</h3>
        <div class="spacer"></div>
        <div class="form-group">
            <label class="form-label">Tên đầy đủ</label>
            <input type="text" placeholder="Họ và tên" class="form-control" />
            <span class="form-message"></span>
        </div>
        <div class="form-group">
            <label class="form-label">Email</label>
            <input type="text" placeholder="Nhập email" class="form-control" />
            <span class="form-message"></span>
        </div>
        <div class="form-group">
            <label class="form-label">Số điện thoại</label>
            <input placeholder="Nhập số điện thoại" type="password" class="form-control" />
            <span class="form-message"></span>
        </div>
        <div class="form-group">
            <label class="form-label">Mật khẩu</label>
            <input type="password" placeholder="Nhập mật khẩu" class="form-control" />
            <span class="form-message"></span>
        </div>
        <button class="form-submit">Đăng ký</button>
        <h5 style="margin: 20px 0">Hoặc đăng ký bằng</h5>
        <a href="">
            <img style="border-radius: 10px; border: 1px solid #feefd0" th:src="@{/images/ic_btn_facebook.svg}" alt="" />
        </a>
        <a href=""><img style="border-radius: 10px; border: 1px solid #feefd0" th:src="@{/images/ic_btn_google.svg}"
                        alt="" /></a>
        <h4 style="margin-top: 15px">
            Bạn đã có tài khoản?
            <a class="login-form" href="#" id="show-login-form">ĐĂNG NHẬP</a>
        </h4>
    </form>
</div>
<script th:src="@{/js/main.js}"></script>
</body>
</html>