<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<button onclick="topFunction()" id="btn-to-top" title="Go to top"><i class="fa-solid fa-chevron-up"></i></button>


<div class="container-fluid">
    <div>
        <div th:replace="fragments/header :: header"></div>
    </div>

    <div>
        <h1>Manage User</h1>
        <a class="m-lg-5" th:href="@{/users/new}"><i class="fa-solid fa-plus fa-2x"></i></a>
        &nbsp;
        <a th:href="@{/export/users/csv}"><i class="fa-solid fa-file-csv fa-2x"></i></a>
    </div>

    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <form th:action="@{/users/page/1}" class="form-check-inline m-3 d-flex align-items-center">
            Filter:&nbsp; <input  type="search" name="keyword" th:value="${keyword}" class="form-control" style="width: 25%;" required >
            &nbsp;&nbsp
            <input type="submit" value="Search" class="btn btn-primary">
            &nbsp;&nbsp
            <input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()">
        </form>
    </div>

    <div>
        <table class="table table-hover table-bordered table-striped table-responsive">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Photo</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Roles</th>
                <th>Enabled</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${listUsers}">
                <td>[[${user.id}]]</td>
                <td>[[${user.email}]]</td>
                <td>
                    <i th:if="${user.photos == null}" class="fa-solid fa-image-portrait fa-3x icon-dark"></i>
                    <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style="width:100px">
                </td>
                <td>[[${user.firstName}]]</td>
                <td>[[${user.lastName}]]</td>
                <td>[[${user.roles}]]</td>
                <td>
                    <a th:if="${user.enabled == true}" th:href="@{'/users/' + ${user.id} + '/enabled/false'}" title="Disable user">
                        <i class="fa-solid fa-square-check fa-2x"></i>
                    </a>
                    <a th:if="${user.enabled == false}" th:href="@{'/users/' + ${user.id} + '/enabled/true'}" title="Enable user">
                        <i class="fa-regular fa-square-check fa-2x"></i>
                    </a>
                </td>
                <td>
                    <a th:href="@{'/users/edit/' + ${user.id}}" title="Edit this User">
                        <i class="fa-regular fa-pen-to-square fa-2x icon-green cl-icon-ed-dl"></i>
                    </a>
                    &nbsp;
                    <a th:href="@{'/users/delete/' + ${user.id}}" th:userId="${user.id}" title="Delete this User">
                        <i class="fa-solid fa-trash fa-2x icon-dark cl-icon-ed-dl"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center m-1" th:if="${totalUser > 0}">
        <span>Showing user # [[${startUser}]] to [[${endUser}]] of [[${totalUser}]]</span>
    </div>
    <div class="text-center m-1" th:unless="${totalUser > 0}">
        <span>No user found</span>
    </div>

    <div class="container" th:if="${totalUser > 0}">
        <div class="text-center">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/users/page/1}" aria-label="First">First</a>
                </li>
                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/users/page/{pageNum}(pageNum=${currentPage - 1})}" aria-label="Previous">Previous</a>
                </li>
                <li class="page-item" th:each="pageNum : ${#numbers.sequence(1, totalPages)}" th:classappend="${pageNum == currentPage} ? 'active'">
                    <a class="page-link" th:href="@{/users/page/{pageNum}(pageNum=${pageNum})}" th:text="${pageNum}"></a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a class="page-link" th:href="@{/users/page/{pageNum}(pageNum=${currentPage + 1})}" aria-label="Next">Next</a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a class="page-link" th:href="@{/users/page/{pageNum}(pageNum=${totalPages})}" aria-label="Last">Last</a>
                </li>
            </ul>
        </div>
    </div>

</div>

<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/fontawesome/js/all.min.js}"></script>
<script th:src="@{/js/main.js}">
    function clearFilter() {
        window.location = '/users';
    }
</script>
</body>
</html>