<div th:fragment="footer">
    <div class="footer" id="footer">
        <div class="container footer-container">
            <div class="row footer-top">
                <div class="col-xl-4">
                    <p class="sum">
                        “Đặt sự hài lòng của khách hàng là ưu tiên số 1 trong mọi suy nghĩ
                        hành động của mình” là sứ mệnh, là triết lý, chiến lược.. luôn
                        cùng YODY tiến bước
                    </p>
                    <p class="text-h4 mb-2">ĐĂNG KÝ NHẬN THÔNG TIN</p>
                    <form action="">
                        <input class="input_email" type="text" placeholder="Nhập email đăng ký của bạn" />
                        <button type="submit" class="btn-sub">Đăng ký</button>
                    </form>
                    <div class="socal">
                        <a href="" class="socal-button">
                            <img width="35px" height="35px" th:src="@{/images/social_1.webp}" alt="" /></a><a href=""
                                                                                                      class="socal-button">
                        <img width="35px" height="35px" th:src="@{/images/social_2.png}" alt="" /></a><a href="" class="socal-button">
                        <img width="35px" height="35px" th:src="@{/images/social_3.png}" alt="" /></a><a href="" class="socal-button">
                        <img width="35px" height="35px" th:src="@{/images/social_4.png}" alt="" /></a><a href="" class="socal-button">
                        <img width="35px" height="35px" th:src="@{/images/social_5.png}" alt="" /></a><a href="" class="socal-button">
                        <img width="35px" height="35px" th:src="@{/images/social_6.png}" alt="" /></a><a href="" class="socal-button">
                        <img width="35px" height="35px" th:src="@{/images/social_7.png}" alt="" /></a><a href="" class="socal-button">
                        <img width="35px" height="35px" th:src="@{/images/social_8.webp}" alt="" />
                    </a>
                    </div>
                </div>
                <div class="col-xl-2">
                    <h4 class="tiltle-menu">VỂ YODY</h4>
                    <ul class="list-menu">
                        <li class="li_menu">
                            <a href="#">Giới thiệu</a>
                        </li>
                        <li class="li_menu">
                            <a href="#">Liên hệ</a>
                        </li>
                        <li class="li_menu">
                            <a href="#">Tuyển dụng</a>
                        </li>
                        <li class="li_menu">
                            <a href="#">Tin tức</a>
                        </li>
                        <li class="li_menu">
                            <a href="#">Hệ thống của hàng</a>
                        </li>
                        <li class="li_menu">
                            <a href="#">Hàng mới về</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-3">
                    <h4 class="tiltle-menu">HỖ TRỢ KHÁCH HÀNG</h4>
                    <ul class="list-menu">
                        <li class="li_menu">
                            <a href="#">Hướng dẫn Chọn size</a>
                        </li>
                        <li class="li_menu">
                            <a href="#">Chính sách Khách hàng thân thiết</a>
                        </li>
                        <li class="li_menu">
                            <a href="#">Chính sách Bảo hành, đổi/trả</a>
                        </li>
                        <li class="li_menu">
                            <a href="#">Chính sách Thanh toán, giao nhận</a>
                        </li>
                        <li class="li_menu">
                            <a href="#">Chính sách Đồng phục</a>
                        </li>
                        <li class="li_menu">
                            <a href="#">Chính sách Bảo mật thông tin khách hàng</a>
                        </li>
                        <li class="li_menu">
                            <a href="#">Chính sách Sử dụng Cookies</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-3">
                    <h4 class="tiltle-menu">CÔNG TY CP THỜI TRANG YODY</h4>
                    <ul class="list-menu">
                        <li class="fone">
                            <img th:src="@{/images/map.svg}" alt="" />
                            Địa chỉ: Đường An Định - Phường Việt Hòa - Thành phố Hải Dương -
                            Hải Dương
                        </li>
                        <li class="fone">
                            <img th:src="@{/images/icon_address.png}" alt="" />
                            <a class="hover-color" href="#"> Tìm cửa hàng gần bạn nhất </a>
                        </li>
                        <li class="fone">
                            <img th:src="@{/images/icon_address.png}" alt="" />
                            <a class="hover-color" href="#">
                                Liên hệ đặt hàng: 024 999 86 999.
                            </a>
                            <br />
                            <a href="#" class="hover-color">
                                Thắc mắc đơn hàng: 024 999 86999.</a>
                            <br />
                            <a href="#" class="hover-color">Góp ý khiếu nại: 1800 2086.</a>
                        </li>
                        <li class="fone">
                            <img th:src="@{/images/email.svg}" alt="" />
                            <a class="hover-color" href="#">
                                Email: chamsockhachhang@yody.vn
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row footer-bottom">
                <div class="footer-bottom-border"></div>
                <h6 class="footer-bt-text">
                    © YODY - Bản quyền thuộc về Công ty cổ phần thời trang YODY
                </h6>
            </div>
        </div>
    </div>
</div>

